/* quarto syntax highlight colors */
:root {
  --quarto-hl-al-color: #f92672;
  --quarto-hl-an-color: #75715e;
  --quarto-hl-at-color: #a6e22e;
  --quarto-hl-bn-color: #ae81ff;
  --quarto-hl-bu-color: #66d9ef;
  --quarto-hl-ch-color: #e6db74;
  --quarto-hl-co-color: #75715e;
  --quarto-hl-cv-color: #75715e;
  --quarto-hl-cn-color: #66d9ef;
  --quarto-hl-cf-color: #66d9ef;
  --quarto-hl-dt-color: #66d9ef;
  --quarto-hl-dv-color: #ae81ff;
  --quarto-hl-do-color: #75715e;
  --quarto-hl-er-color: #960050;
  --quarto-hl-ex-color: #a6e22e;
  --quarto-hl-fl-color: #ae81ff;
  --quarto-hl-fu-color: #a6e22e;
  --quarto-hl-im-color: #f92672;
  --quarto-hl-in-color: #75715e;
  --quarto-hl-kw-color: #f92672;
  --quarto-hl-op-color: #f92672;
  --quarto-hl-ot-color: #a6e22e;
  --quarto-hl-pp-color: #f92672;
  --quarto-hl-sc-color: #ae81ff;
  --quarto-hl-ss-color: #e6db74;
  --quarto-hl-st-color: #e6db74;
  --quarto-hl-va-color: #f8f8f2;
  --quarto-hl-vs-color: #e6db74;
  --quarto-hl-wa-color: #75715e;
}

/* other quarto variables */
:root {
  --quarto-font-monospace: "Roboto Mono", "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code span.al {
  color: #f92672;
  font-weight: bold;
  font-style: inherit;
}

code span.an {
  color: #75715e;
  font-style: italic;
}

code span.at {
  color: #a6e22e;
  font-style: inherit;
}

code span.bn {
  color: #ae81ff;
  font-style: inherit;
}

code span.bu {
  color: #66d9ef;
  font-style: inherit;
}

code span.ch {
  color: #e6db74;
  font-style: inherit;
}

code span.co {
  color: #75715e;
  font-style: italic;
}

code span.cv {
  color: #75715e;
  font-style: italic;
}

code span.cn {
  color: #66d9ef;
  font-style: inherit;
}

code span.cf {
  color: #66d9ef;
  font-weight: bold;
  font-style: inherit;
}

code span.dt {
  color: #66d9ef;
  font-style: inherit;
}

code span.dv {
  color: #ae81ff;
  font-style: inherit;
}

code span.do {
  color: #75715e;
  font-style: italic;
}

code span.er {
  color: #960050;
  background-color: #1e0010;
  font-style: inherit;
}

code span.ex {
  color: #a6e22e;
  font-style: inherit;
}

code span.fl {
  color: #ae81ff;
  font-style: inherit;
}

code span.fu {
  color: #a6e22e;
  font-style: inherit;
}

code span.im {
  color: #f92672;
  font-style: inherit;
}

code span.in {
  color: #75715e;
  font-weight: bold;
  font-style: inherit;
}

code span.kw {
  color: #f92672;
  font-style: inherit;
}

code span.op {
  color: #f92672;
  font-style: inherit;
}

code span.ot {
  color: #a6e22e;
  font-style: inherit;
}

code span.pp {
  color: #f92672;
  font-style: inherit;
}

code span.sc {
  color: #ae81ff;
  font-style: inherit;
}

code span.ss {
  color: #e6db74;
  font-style: inherit;
}

code span.st {
  color: #e6db74;
  font-style: inherit;
}

code span.va {
  color: #f8f8f2;
  font-style: inherit;
}

code span.vs {
  color: #e6db74;
  font-style: inherit;
}

code span.wa {
  color: #75715e;
  font-weight: bold;
  font-style: inherit;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=8fced25405c96dceaa5f67ca02521733.css.map */
