/* quarto syntax highlight colors */
:root {
  --quarto-hl-al-color: #aa0000;
  --quarto-hl-an-color: #999988;
  --quarto-hl-at-color: #008080;
  --quarto-hl-bn-color: #009999;
  --quarto-hl-bu-color: #0086B3;
  --quarto-hl-ch-color: #d14;
  --quarto-hl-co-color: #999988;
  --quarto-hl-cv-color: #999999;
  --quarto-hl-cn-color: #008080;
  --quarto-hl-cf-color: #000000;
  --quarto-hl-dt-color: #445588;
  --quarto-hl-dv-color: #009999;
  --quarto-hl-do-color: #999988;
  --quarto-hl-er-color: #a61717;
  --quarto-hl-ex-color: #3c5d5d;
  --quarto-hl-fl-color: #009999;
  --quarto-hl-fu-color: #990000;
  --quarto-hl-im-color: #000000;
  --quarto-hl-in-color: #999999;
  --quarto-hl-kw-color: #000000;
  --quarto-hl-op-color: #000000;
  --quarto-hl-ot-color: #000000;
  --quarto-hl-pp-color: #999999;
  --quarto-hl-sc-color: #d14;
  --quarto-hl-ss-color: #009926;
  --quarto-hl-st-color: #d14;
  --quarto-hl-va-color: #008080;
  --quarto-hl-vs-color: #d14;
  --quarto-hl-wa-color: #aa0000;
}

/* other quarto variables */
:root {
  --quarto-font-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code span.al {
  color: #aa0000;
  font-style: inherit;
}

code span.an {
  color: #999988;
  font-style: italic;
}

code span.at {
  color: #008080;
  font-style: inherit;
}

code span.bn {
  color: #009999;
  font-style: inherit;
}

code span.bu {
  color: #0086B3;
  font-style: inherit;
}

code span.ch {
  color: #d14;
  font-style: inherit;
}

code span.co {
  color: #999988;
  font-style: italic;
}

code span.cv {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

code span.cn {
  color: #008080;
  font-style: inherit;
}

code span.cf {
  color: #000000;
  font-weight: bold;
  font-style: inherit;
}

code span.dt {
  color: #445588;
  font-weight: bold;
  font-style: inherit;
}

code span.dv {
  color: #009999;
  font-style: inherit;
}

code span.do {
  color: #999988;
  font-style: italic;
}

code span.er {
  color: #a61717;
  background-color: #e3d2d2;
  font-style: inherit;
}

code span.ex {
  color: #3c5d5d;
  font-weight: bold;
  font-style: inherit;
}

code span.fl {
  color: #009999;
  font-style: inherit;
}

code span.fu {
  color: #990000;
  font-weight: bold;
  font-style: inherit;
}

code span.im {
  color: #000000;
  font-weight: bold;
  font-style: inherit;
}

code span.in {
  color: #999999;
  font-style: inherit;
}

code span.kw {
  color: #000000;
  font-weight: bold;
  font-style: inherit;
}

code span.op {
  color: #000000;
  font-weight: bold;
  font-style: inherit;
}

code span.ot {
  color: #000000;
  font-style: inherit;
}

code span.pp {
  color: #999999;
  font-weight: bold;
  font-style: inherit;
}

code span.sc {
  color: #d14;
  font-style: inherit;
}

code span.ss {
  color: #009926;
  font-style: inherit;
}

code span.st {
  color: #d14;
  font-style: inherit;
}

code span.va {
  color: #008080;
  font-style: inherit;
}

code span.vs {
  color: #d14;
  font-style: inherit;
}

code span.wa {
  color: #aa0000;
  font-style: inherit;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=debc5d5d77c3f9108843748ff7464032.css.map */
