 <div class="user-details">
  <h1> About Me </h1>
  <img class="selfie" alt="{{ site.name }}" src="{{ site.picture }}"/>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Machine Learning Libraries</h3>
      <img src="assets/svg/keras.svg" style="width:.97em;" />
      <img src="assets/svg/pytorch.svg" style="width:1em;" />
      <img src="assets/svg/fastai.svg" style="width:65pt; height:50pt;" />
      <p>Good experience of implementing in Keras and fastai. Familiar with Pytorch</p>
    </div>
    <div class="tech">
      <h3>Programming Languages</h3>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>Proficient in Python and C++. Familiar with Java</p>
    </div>
    <div class="tech">
      <h3>Development<br>Tools</h3>
      <i class="devicon-git-plain"></i>
<!--       <i class="devicon-visualstudio-plain colored"></i>
 -->  
      <img src="assets/svg/xcode.svg" style="width:1em;" />
      <p>Good knowledge of Xcode and Git version control</p>
    </div>
</div>
