 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>ML Libraries</h3>
      {% svg assets/svg/keras.svg width="50pt" height="50pt" %}
      {% svg assets/svg/pytorch.svg width="55pt" height="55pt" %}
      {% svg assets/svg/fastai.svg width="70pt" height="50pt" %}
      <p>Very good knowledge of Spring Boot, Express js</p>
    </div>
    <div class="tech">
      <h3>Programming Languages</h3>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-javascript-plain"></i>
      <p>Very Good knowledge of Java, Node.js. Familiar with Python</p>
    </div>
    <div class="tech">
      <h3>Tools</h3>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-intellij-plain"></i>
      <p>Good knowledge of Visual Studio and Eclipse</p>
    </div>
</div>
