<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
    <div class="images-right">
      <img alt="Bazaar" src="{{ "/assets/img/divar.jpg" | prepend: site.baseurl }}" />
    </div>
  <div class="contents">
    <h3 style="margin-block-start: 0; margin-block-end: 0; padding-top: 0;"> Data Scientist </h3>
    <h4 style="padding-top: 0;"> Divar, Tehran — Oct 2019 - June 2020 </h4>
  </div>
</div>
<br>
<div class="user-projects">
  <div class="contents-right">
    <h3 style="margin-block-end: 0; padding-top: 0;"> Data Science Intern </h3>
    <h4 style="padding-top: 0;"> Cafe Bazaar, Tehran — Summer 2019 </h4>
    <ul>
      <li> Built and deployed client-side multi-task deep learning models for image classification and price
      estimation of merchandises and commodities. Models were built using TensorFlow 2.0.</li>
      <li> Developed an Android app to deploy models using Java and TensorFlow Lite.</li>
      <li> Defined custom loss functions and metrics for multi-task training porpuses.</li>
    </ul>
    <!-- <a class="project-link" target="_blank" href="http://www.girnarsoft.com/">Check it out</a> -->
  </div>
  <br>
  <div class="images-left">
      <img alt="Divar" src="{{ "/assets/img/bazaar.png" | prepend: site.baseurl }}" />
  </div>
</div>