<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3 style="margin-block-start: 0; margin-block-end: 0; padding-top: 0;"> Data Science Intern </h3>
    <h4 style="padding-top: 0;"> Cafe Bazaar, Tehran — Jun 2019 - Present </h4>
    <ul>
      <li> Working at Divar, the leading classified ads service in Iran, I am tasked to build and deploy client-side deep learning
      models for image classification and price estimation.</li>
      <li> The project makes use of TensorFlow 2, TensorFlow Lite and Android Studio.</li>
    </ul>
    <!-- <a class="project-link" target="_blank" href="http://www.girnarsoft.com/">Check it out</a> -->
  </div>
  <div class="images-left">
    <img alt="Divar" src="{{ "/assets/img/divar.jpg" | prepend: site.baseurl }}" />
  </div>
</div>